$primary-color: #007bff;
$secondary-color: #6c757d;
$text-color: #333;
$background-color: #f8f9fa;
.container {
    border-radius: 8px;
    text-align: center;
    position: relative;
    font-family: 'Poppins', sans-serif;

    h1{
      text-align: center;
    }

  .error{
    color: red;
  }

  .activeStep{
    word-wrap: 100%;
    display: grid;
  }
  .schema{
    font-size: 12px;
    color: red;
  }

input{
  width: 90%;
  height: 40px;
  padding: 0px 8px;
  margin: 10px auto;
  border: 1px solid #000;
  background-color: #f8f9fa;
  border-radius: 5px;

}
p{
  color: #000;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  float: left;
}
.buttonRegster {
  background: #cf770b;
  color: white;
  padding: 0.75rem;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s ease;
  position: absolute ;
  bottom: -100px;
  width: 90%;
 right: 1px;
 left: 16px;
  border: none;
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
} 
}
