// Định nghĩa màu sắc chung
$primary-color: #007bff;
$secondary-color: #6c757d;
$text-color: #333;
$background-color: #f8f9fa;

// Container chính của form
.img img{
  width: 100%;


}
.container {
  border-radius: 4%;
    text-align: center;
    height: 75vh;
    position: relative;
    top: 0;
    background-color: #f5f5f5;
    width: 100%;
    right: 3px;
    font-family: 'Poppins', sans-serif;

    h1{
      text-align: center;
    }
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 0.5rem;
      padding: 15px 10px;
    }
  
    p{
      font-size: 12px;
    }
    // Nút đăng nhập
    .buttonLogin button {
      background: #cf770b;
      padding: 0.75rem;
      font-size: 16px;
      border-radius: 5px;
      transition: 0.3s ease;
      position: absolute ;
      bottom: 10px;
      width: 90%;
     right: 1px;
     left: 16px;
      border: none;
      
    }
    label{
      float: left;
    }
    .p{
      font-size: 12px;
      font-weight: 500;
      opacity: 0.8;
    }
    a{
      position: absolute;
      font-size: 14x;
      font-weight: 600;
      color: blue;
      right: 30%;
    }
    .needAccount{
      margin: 0px auto;
      position: absolute;
      bottom: -55px;
      padding: 20px 28px;
      right: 0;
      left: 0;
    }
    .span{
      position: absolute;
      left: 0;
    }
    .newAccount{
      margin: 0px -20px;
    }
    input{
      width: 90%;
      height: 40px;
      padding: 0px 8px;
      margin: 10px auto;
      border: 1px solid #000;
      background-color: #f8f9fa;
      border-radius: 5px;
    
    }
}
 
