
.nav{
    display: flex;
    align-items: center;
}
.div{
    display: flex;
 
}

// .homeForm
.container{
    width: 30%;
    height: 100vh;
    background-color: #fafafa;
    box-shadow: 4px 0 6px rgba(0,0,0,.15);
    margin: 0px 60px;
}
.infoAccount{
    display: flex;
   
}
.div h1{
    padding: 20px 20px;
    margin: 0px auto;
    font-size: 20px;
    opacity: 0.9;
    
}
.formSubmit{
    background-color: #f2f2f2;
    padding: 30px 30px;

}

.inputForm{ 
    
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #fff;
    outline: none;
    border: 1px solid #b0a7a7;


}
.iconInput{
    position: relative;
}
.iconUser{
  position: absolute;
  right: 6px;
  top: 30px;

}
button{
    background-color: #2c3e50;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Home.module.scss */



// map
.wrapper{
    .map {
            padding: 200px 200px;   
        
    } p{
        text-align: center;
        font-size: 14px;
        opacity: 0.9;
        font-family: "Gill Sans",
            sans-serif;;
    } h2{
        font-weight: 600;
        font-size: 18px;
       text-align: center;
       margin: 5px auto;
    }
}

// sideBar

