.container{

  h2{
    text-align: center;
  }
  p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;

  }
  .submit{
    background: #e6b907;
    margin-top: 80px;
  }
  .submit a{
    color: #fff;
    text-decoration: none;
  }

  footer{
    position: relative;
  }
  footer a{
    text-decoration: none;
    list-style: none;
    position: absolute;
    bottom: -260PX;
    text-align: center;
    right: 75px;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.input{
  display: flex;
  justify-content: center;
  padding: 10px 20px;

}
.input input {
  width: 10px;
  margin: 2px 5px;
  padding: 15px 20px;
  border: 1px solid #000;
}

.sendMessage{
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;

}
.sendMessage button {
  width: 200px;
  margin: 0px auto;
  height: 35px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #fff;

}
.sendMessage button:hover{
  text-decoration: solid;
}