.container {
    margin: 20px 100px;
    padding: 10px 20px;

     
    & h1{
        font-size: 20px;
       
    }
   
}
.show{
    border-bottom: 2px solid #f5f5f5;
}

.profileAccount{
    background-color: #f5f5f5;
    width: 30%;
    margin-top: 30px;
    
    height: 400px;

}

.profile {
    display: flex;
    justify-content: space-between;
    text-align:  center;
    align-items: center;
 

}

.verfyInFo{
    background-color: #f5f5f5;
    width: 60%;
  
    height: 400px;
    margin-top: 30px;
}